.page {
  color: #000;
  display: flex;
  margin-left: 12vh;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
  width: 100vw;
  height: 85vh;
  transform: scale(0.85);
}

.card {
  margin-top: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90vw;
  padding: 20px;
  border-radius: 19px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

input#nome , #telefone, #email, #dataNascimento, #documento, #dataCadastro, #endereco, #escolaridade {
  background-color: #102946;
  color: #fff;
}

input::placeholder {
  color: #fff;
}

input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

input:focus,
select:focus {
  border-color: #4a90e2;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  gap: 20px;
  box-shadow: none;
  color: #000;
}

.grid {
  display: grid;
  gap: 20px;
  margin-bottom: 10px;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13vw, 1fr));
  gap: 2vh 0vh;
  margin: 0;
}

.form-group p {
  margin: 0 auto;
  font-size: 1.4rem;
  padding: 0 0 2vh 0;
}

.checkbox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 13vw;
  height: 70%;
  background-color: #20354b;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  font-weight: normal;
  color: white;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.checkbox:has(input:checked) {
  background-color: #4a90e2;
  transform: scale(1.0);
}

.checkbox p {
  text-align: center;
  margin-top: -1vh;
  font-size: 1rem;
  width: 13vw;
}

.checkbox-round {
  visibility: hidden;
  background-color: #20354b00;
}

.cadastro-btn {
  align-self: center;
  margin-top: 20px;
  width: 30%;
  padding: 14px;
  font-size: 22px;
  border-radius: 10px;
  border: none;
  background: #4a90e2;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease
}

.cadastro-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 10px #000;
}
