.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container1{
    background-color: black;
    width: 50vw; 
    height: 10vh;
    z-index: -1;
    border-radius: 15px;
}