.historico-container {
    background-color: white;
    border-radius: 9px;
    padding: 3vh;
    margin: 5vh 0;
}

.table-container{
    width: 100%;
}

.alunos-table th, .alunos-table td {
    width: 10vw;
    height: 5vh;
    padding: 0 2vh 2vh 2vh;
    border-right: 1px solid #4a91e268;
}